{#
/**
 * @file
 * Displays a chessboard.
 *
 * Available variables:
 * - table_tiles: A translation table for empty and marked squares, pieces and
 *   borders.
 * - file_max: Number of files: any integer (default: 8).
 * - square_color_first: Color of the upper left square: 0 for light (default),
 *   or 1 for dark.
 * - border: Valid flags are T, B, L, and R, which correspond to the top border,
 *   the bottom border, the left border, and the right border respectively. The
 *   corresponding borders of the chessboard will be rendered for the flags
 *   specified. (Default: none is specified.)
 * - board: An array of board rows. Each row contains an array with codes for
 *   empty squares, marked squares, and pieces.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
<pre>
{# Top border #}
{% if border['T'] %}
  {%- if border['L'] %}
    {{- table_tiles['TL'] }}
  {%- endif %}
  {%- for i in range(1, file_max) %}
    {{- table_tiles['T'] }}
  {%- endfor %}
  {%- if border['R'] %}
    {{- table_tiles['TR'] }}
  {%- endif %}
  {{- "\n" -}}
{% endif %}
{# Left border, board, right border #}
{% for rank_d, board_row in board %}
  {%- if border['L'] %}
    {{- table_tiles['L'] }}
  {%- endif %}
  {%- for i, piece_code in board_row %}
    {%- set square_color = square_color_first b-xor (rank_d % 2) b-xor (i % 2) %}
    {%- set key = piece_code ~ square_color %}
    {#- table_tiles[key] is defined as we have filtered unknown characters #}
    {{- table_tiles[key] }}
  {%- endfor %}
  {%- if border['R'] %}
    {{- table_tiles['R'] }}
  {%- endif %}
  {{- "\n" -}}
{% endfor %}
{# Bottom border #}
{% if border['B'] %}
  {%- if border['L'] %}
    {{- table_tiles['BL'] }}
  {%- endif %}
  {%- for i in range(1, file_max) %}
    {{- table_tiles['B'] }}
  {%- endfor %}
  {%- if border['R'] %}
    {{- table_tiles['BR'] }}
  {%- endif %}
{% endif %}
{% endspaceless %}
</pre>
